In [ ]:
import pandas as pd
import re
import math

In [ ]:

data = pd.read_excel("/content/output1.xlsx")
#data = pd.read_excel("/content/Orders-With Nulls.xlsx")
#data = pd.read_csv("/content/Global YouTube Statistics.csv")
data

,Branch Name,Rank,Caste,College Code and Name
0,AI Artificial Intelligence,12296,STG,E001 University of Visvesvaraya College of En...
1,CE Civil,61725,STG,E001 University of Visvesvaraya College of En...
2,CS Computers,7407,STG,E001 University of Visvesvaraya College of En...
3,EC Electronics,17016,STG,E001 University of Visvesvaraya College of En...
4,EE Electrical,32172,STG,E001 University of Visvesvaraya College of En...
...,...,...,...,...
1913,IE Info.Science,15938,3BG,E232 Reva University Bangalore
1914,ME Mechanical,114036,3BG,E232 Reva University Bangalore
1915,MT Mechatronics,66850,3BG,E232 Reva University Bangalore
1916,RO Auto. And Robot.,38010,3BG,E232 Reva University Bangalore
1917,SS CS and System Engg,26866,3BG,E232 Reva University Bangalore

In [ ]:
data.select_dtypes(include=['object'])

,Branch Name,Caste,College Code and Name
0,AI Artificial Intelligence,STG,E001 University of Visvesvaraya College of En...
1,CE Civil,STG,E001 University of Visvesvaraya College of En...
2,CS Computers,STG,E001 University of Visvesvaraya College of En...
3,EC Electronics,STG,E001 University of Visvesvaraya College of En...
4,EE Electrical,STG,E001 University of Visvesvaraya College of En...
...,...,...,...
1913,IE Info.Science,3BG,E232 Reva University Bangalore
1914,ME Mechanical,3BG,E232 Reva University Bangalore
1915,MT Mechatronics,3BG,E232 Reva University Bangalore
1916,RO Auto. And Robot.,3BG,E232 Reva University Bangalore
1917,SS CS and System Engg,3BG,E232 Reva University Bangalore

In [ ]:
pattern_url = r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
pattern_date = r'\d{4}-\d{2}-\d{2}|[0-3]?[0-9]/[0-3]?[0-9]/\d{4}'
pattern_credit_card = r'\b(?:\d{4}-?){3}\d{4}\b'
pattern_ip = r'\b(?:\d{1,3}\.){3}\d{1,3}\b|\b(?:[A-Fa-f0-9]{1,4}:){7}[A-Fa-f0-9]{1,4}\b'
pattern_email = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
pattern_phone = r'(?:(?:\+|0{0,2})(91-?)?)[7-9]\d{9}'
pattern_aadhar = r'\b\d{4}\s\d{4}\s\d{4}\b'
pattern_ssn = r'\b\d{3}-\d{2}-\d{4}\b'

pattern_list = [pattern_url , pattern_date, pattern_credit_card, pattern_ip , pattern_email , pattern_phone , pattern_aadhar , pattern_ssn]

In [ ]:
def data_profile(i , col_name ,pattern_list ) :

  #Total Number of Records
  Total_Records = len(data[data.columns[i]])

  # 2  Number of Null values in the column
  Number_Null = data[data.columns[i]].isnull().sum()

  # 3  Percentage Null
  Percent_Null = Number_Null / Total_Records * 100

  # 4 Number of Unique Values
  Num_Unique = data[data.columns[i]].nunique()

  # 5 Percentage Unique
  Percent_Unique = Num_Unique / Total_Records * 100

  # 6 Number of Duplicate Values
  Non_Distinct = Total_Records - Num_Unique

  # 7 Percentage of Duplicate Values
  Percent_non_distinct = Non_Distinct / Total_Records * 100

  # 8, 9, 10 - Minimum, Maximum and Average of a Integer or Float type
  if data[data.columns[i]].dtypes in ["int64", "int32" , "int16" , "float64" , "float32"  , "float16"]:
      minimum = min(data[data.columns[i]])
      maximum = max(data[data.columns[i]])
      average = data[data.columns[i]].mean()
  else :
      minimum = "NA"
      maximum = "NA"
      average = "NA"

  # 11 Number of Patterns
  patterns = []
  if data[data.columns[i]].dtype == 'O' :
    for value in data[data.columns[i]]:
      k = ""
      for n in range(0 , len(pattern_list)):
        k = re.search(pattern_list[n], value)
        patterns.append(k)
        if k == re.Match:
          break
    patterns_1 = list(filter(lambda x: x is not None, patterns))
    Num_Pattern = len(patterns_1)
  else:
    for value in data[data.columns[i]].astype(str):
      k = ""
      for n in range(0 , len(pattern_list)):
        k = re.search(pattern_list[n], value)
        patterns.append(k)
        if k == re.Match:
          break
    patterns_1 = list(filter(lambda x: x is not None, patterns))
    Num_Pattern = len(patterns_1)

  # 12 Minimum Length of the string or number
  if data[data.columns[i]].dtype == 'O' :
    min_word = min(data[data.columns[i]], key=len)
    min_len = len(min_word)
  else:
    min_len = "NA"


  # 13 Maximum Length of the string or number
  if data[data.columns[i]].dtype == 'O' :
    max_word = max(data[data.columns[i]], key=len)
    max_len = len(max_word)
  else:
    max_len = "NA"


  # 14 Average Length of the string
  if data[data.columns[i]].dtype == 'O' :
    avg_word = data[data.columns[i]].apply(len).mean()
    avg_word = math.ceil(avg_word)
  else:
    avg_word = "NA"


  # 15 Datatype of the Column
  dtype = data[data.columns[i]].dtype
  if dtype == 'O' :
      data_type = "String"
  elif dtype == 'int64' :
      data_type = "int64"
  elif dtype == 'int32' :
      data_type = "int32"
  elif dtype == 'int16' :
      data_type = "int16"
  elif dtype == 'float64' :
      data_type = "float64"
  elif dtype == 'float32' :
      data_type = "float32"
  elif dtype == 'float16' :
      data_type = "float16"
  elif dtype == 'bool' :
      data_type = "boolean"
  else:
      data_type = dtype


  return_list = [col_name, Number_Null , Percent_Null , Num_Unique , Percent_Unique , Non_Distinct , Percent_non_distinct , Num_Pattern , minimum, maximum , average ,  min_len , max_len , avg_word, data_type ]

  return return_list

In [ ]:
column = ['Field_Name', '#Null', '%Null' , '#Unique' , '%Unique' , '#Duplicate' , '%Duplicate' , '#Pattern' , 'Minimum' , 'Maximum' , 'Average' , 'Min_Len' , 'Max_Len' , 'Avg_Len' , 'Data_Type']

data_column = data.columns.tolist()
return_value = []
for q in range(0, len(data_column)) :
  return_value.append(data_profile(q,data_column[q] , pattern_list))
df = pd.DataFrame(return_value, columns = column)
df

,Field_Name,#Null,%Null,#Unique,%Unique,#Duplicate,%Duplicate,#Pattern,Minimum,Maximum,Average,Min_Len,Max_Len,Avg_Len,Data_Type
0,Branch Name,0,0.0,35,1.824818,1883,98.175182,0,NA,NA,NA,8,28,17,String
1,Rank,0,0.0,1918,100.000000,0,0.000000,0,158,174272,50512.713243,NA,NA,NA,int64
2,Caste,0,0.0,7,0.364964,1911,99.635036,0,NA,NA,NA,2,3,3,String
3,College Code and Name,0,0.0,38,1.981230,1880,98.018770,0,NA,NA,NA,32,76,53,String